.album-container {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.photos-container {
    width: 270px;
    border: 1px solid #ededed;
    padding: 10px;
    display: inline-block;
    height: auto;
    border-radius: 3px;
    word-wrap: break-word;
    margin: 5px;
}

.circular-image {
    width: 242px;
    height: 200px;
    border-radius: 50%;
}

    .circular-image:hover {
    }

.photos-container button {
    background-color: transparent;
    border: none;
    color: #b5b5b5;
    width: 120px;
    padding: 5px 0 5px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.icon:before {
    -webkit-transition: opacity 0.14s ease-in-out;
    transition: opacity 0.14s ease-in-out;
    content: "";
    opacity: 0.5;
    background-size: 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
}

.trash:before {
    background-image: url(/Styles/trash.png);
}

.trash:hover:before {
    opacity: 1;
}

.trash:hover {
    text-decoration: none;
}

.expand:before {
    background-image: url(/Styles/expand.png);
}

.expand:hover {
    text-decoration: none;
}

    .expand:hover:before {
        opacity: 1;
    }

.photos-container .image-name-container {
    padding: 15px 0 10px 0;
    font-size: 12px;
    text-align: left;
    display: block;
}

.image-date {
    font-size: 10px;
    padding-bottom: 10px;
    text-align: left;
    display: block;
}

.btn {
    float: left;
    display: inline-block;
    padding: 6px 12px;
    margin-right: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 2px
}


    .btn.focus {
        color: #333;
        text-decoration: none
    }

    .btn.active {
        background-image: none;
        outline: 0;
        -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
        box-shadow: inset 0 3px 5px rgba(0,0,0,.125)
    }

.btn-trash, .btn-expand {
    color: #333;
    background-color: #fff;
    border-color: #ccc
}
