@model ImageServiceWeb.Models.ConfigModel

@{
    ViewBag.Title = "Config";
}

<h2>Config</h2>

<table class="table table-hover">
    @{ foreach (var v in Model.List)
        {
            <tr>
                <td style="font-weight:bold;">
                    @v.Title
                </td>
                <td>
                    @v.Content
                </td>
            </tr>
        }
    }
</table>

<div class="list-group">
    @{ foreach (var v in Model.HandlersList)
        {
            <span class="list-group-item list-group-item-action">

                <button type="button" class="btn btn-outline-secondary">
                    @Html.ActionLink("Remove", "SureToRemoveDir", new { handler = v.Content })
                </button>
                @v.Content
            </span>


        }
    }
</div>
