@model ImageServiceWeb.Models.LogModel

@{
    ViewBag.Title = "Logs";
}
<head>
    <link href="@Url.Content("~/Styles/Logs.css")" rel="stylesheet" type="text/css" />
</head>
<h2>Logs</h2>

<div class="input-group mb-3">
    <input type="text" class="form-control" id="myInput" placeholder="Search for logs by type...">
    <div class="input-group-append">
        <button type="button" class="btn btn-outline-secondary" for="myInput" onclick="myFunction()">Search</button>
    </div>
    <div class="list-group" id="myUL">
        @{ foreach (var v in Model.List)
            {
                <a class="list-group-item list-group-item-@v.Title">
                    <span style="font-weight:bold;">@v.Title</span>  @v.Content
                </a>
            }
        }

    </div>
</div>


<script>
    function myFunction() {
        var input, filter, div, a, span, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        div = document.getElementById("myUL");
        a = div.getElementsByTagName("a");
        for (i = 0; i < a.length; i++) {
            span = a[i].getElementsByTagName("span")[0];
            if (span.innerHTML.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
            } else {
                a[i].style.display = "none";

            }
        }
    }
</script>