@model ImageServiceWeb.Models.LogModel

@{
    ViewBag.Title = "Logs";
}

<h2>Logs</h2>

<input type="text" id="txtLogsType" size="5" />
<input type="button" id="btnSearch" value="Search" />

<table>
    @{ foreach (var v in Model.List)
        {
            <tr>
                <td>
                    @v.Title
                </td>
                <td>
                    @v.Content
                </td>
            </tr>
        }
    }
</table>

<script>
    $("#btnStart").click(function () {
        $.getJSON("@Url.Action("GetLogs")", function (empl) {
            $("#prodId").text(empl.FirstName);
            $("#prodName").text(empl.LastName);
        });
    });

    $("#btnSearch").click(function () {
        var input = {
            Type:$("#LogType").val(),
        };
        $.post("@Url.Action("GetLogs")", input, function (data) {
            $("#lstLogs").append("<li>" + data.Log  + "</li>");
        }, "json");
    });
</script>