@model ImageServiceWeb.Models.LogModel

@{
    ViewBag.Title = "Logs";
}
<head>
    <link href="@Url.Content("~/Styles/Logs.css")" rel="stylesheet" type="text/css" />
</head>
<h2>Logs</h2>

<table class="table table-striped-group">
    <tr>
        <td width="30%">
            <input type="text" class="form-control" id="myInput" placeholder="Search for logs by type...">
        </td>
        <td>
            <button type="button" class="btn btn-outline-secondary" for="myInput" onclick="myFunction()">Search</button>
        </td>
    </tr>
    </table>
<table class="table table-striped-group" id="myUL">

    @{ foreach (var v in Model.List)
        {
            <tr>
                <td>
                    <a class="list-group-item list-group-item-@v.Title" style="background-color: @v.Color">
                        <span style="font-weight:bold;">@v.Title</span>  @v.Content
                    </a>
                </td>
            </tr>
        }
    }

</table>


<script>
    function myFunction() {
        var input, filter, table, a, span, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myUL");
        a = table.getElementsByTagName("a");
        td = table.getElementsByTagName("td");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < a.length; i++) {
            span = a[i].getElementsByTagName("span")[0];
            if (span.innerHTML.toUpperCase().indexOf(filter) > -1) {
                td[i].style.display = "";
                tr[i].style.display = "";
                a[i].style.display = "";
            } else {
                a[i].style.display = "none";
                td[i].style.display = "none";
                tr[i].style.display = "none";


            }
        }
    }
</script>