@model ImageServiceWeb.Models.ConfigModel

@{
    ViewBag.Title = "SureToRemoveDir";
}

<h2>Remove Handler</h2>
<p>Are you sure you want to remove the handler @Model.SelectedHandler?</p>

<table>
    <tr>
        <td>
            <button type="button" class="btn btn-outline-secondary">
                @Html.ActionLink("Return", "Config")
            </button>
        </td>
        <td>
            <button type="button" class="btn btn-danger" id="diable_trash_button">
                @Html.ActionLink("Remove", "AcceptDirRemoval", new { name = Model.SelectedHandler })
            </button>
        </td>
    </tr>
</table>
<script>

    var removeButton = document.getElementById("diable_trash_button");
        removeButton.onclick = function () {
            $(':button').prop('disabled', true);
            location.href = '@Url.Action("OK", "AcceptDirRemoval", new { name = Model.SelectedHandler })';
    };
</script>
